.statusBarContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--status-panel-bg);

  width: 6.5rem;
  padding: 5px;
  gap: 4px;

  border-radius: 10px;
  height: fit-content;
  flex-shrink: 0;
}

.statusBarInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-variant: small-caps;

  font-size: clamp(0.65rem, 2.2vw, 0.85rem);
  line-height: 1;
}
.statusBarInfo span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.statusBarInfo span:last-child {
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}

.statusBarContainer > *:not(.statusBarInfo) {
  width: 100%;
}

@media (min-width: 768px) {
  .statusBarContainer {
    width: 8rem;
  }

  .statusBarInfo {
    font-size: clamp(0.75rem, 1.4vw, 0.95rem);
  }
}

@media (min-width: 1024px) {
  .statusBarContainer {
    width: 10rem;
  }

  .statusBarInfo {
    font-size: 1rem;
  }
}