.statusBarContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 8rem;
    color: black;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    height: 2.5rem;
}

.statusBarInfo {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    font-variant: small-caps;
    height: 0.8rem;
}

.statusBarInfo span:last-child {
    font-size: 13px
}