.lobbyPage{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
 
.lobbyPage section{
    gap: 1rem;
}

.creatureSelectContainer, .creatureSelectButtons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.creatureSelectContainer form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

/* tablet */
@media (min-width: 768px) {
  .creatureSelectButtons {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  .creatureSelectContainer form{
    gap: 2rem;
  }
}

/* desktop */
@media (min-width: 1024px) {
    .lobbyPage{
        padding-top: 1rem;
    }
    .creatureSelectButtons {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
      }
      .creatureSelectContainer form{
        gap: 2rem;
      }
}
