.container {
  width: 100%;
  margin: 0 auto;
}

.bar {
  border-radius: 15px;
  overflow: hidden;
}

.bar:has(.hp) {
  background-color: #a42121;
}

.bar:has(.xp) {
  background-color: #d9d9d9;
}

.hp {
  background-color: #04aa6d;
  height: 10px;
}

.xp {
  background-color: #0483aa;
  height: 5px;
}
