.creatureContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 10rem;
}

.creatureSprite {
  width: 4rem;
  height: auto;
  z-index: 1;
  position: absolute;
  padding-bottom: 5rem;
}

.platform {
  width: 10rem;
  height: 3rem;
  position: relative; 
}

@media (min-width: 1024px) {
  .platform {
    height: 4rem;
    width: 16rem;
  }
  .creatureSprite {
    width: 6rem;
    height: auto;
    padding-bottom: 8rem;
  }
  .creatureContainer {
    width: 20rem;
  }
}