.storePage {
  padding: 5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.userShopInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userShopInfo div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userMoneyDisplay {
  padding: 0 1rem;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--coin-container-bg);
  color: var(--coin-text);
  display: flex;
  align-items: center;
}

.fixedInformationBar {
  top: 2rem;
  right: 2rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  gap: 1rem;
  color: var(--text);
  z-index: 20;
}

.iconButton {
  background-color: var(--btn-cta-bg);
  box-shadow: none !important;
  border: none !important;
}

.iconButton:hover,
.iconButton:focus-visible {
  background-color: var(--btn-cta-hover) !important;
  cursor: pointer;
}

/* utility to remove box-shadow on buttons */
.noShadow {
  box-shadow: none !important;
}

/* desktop */
@media (min-width: 1024px) {
  .creatureSelectButtons {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  .storePage {
    padding: 2rem;
  }
  .backButton {
    width: 30%;
  }
}
