.arena {
  padding: 3rem 1rem 0 1rem;
  background-color: var(--battle-arena-bg);
  height: 100vh;
}

.arenaContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.battleView {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 60%;
  gap: clamp(1rem, 1vh, 2rem);
}

.player {
  display: flex;
  flex-direction: row-reverse;
}

.opponent {
  display: flex;
}

.playerContainer,
.opponentContainer {
  display: flex;
}

.opponentContainer {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.playerContainer {
  flex-direction: row;
  align-items: center;
}

.controlsWrapper {
  max-height: 45vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.opponentControlsContainer {
  flex: 0 0 auto;
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingState {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-primary);
}

@media (min-width: 641px) {
  .arena {
    overflow: hidden;
    padding: 4rem 1rem 0 1rem;
  }
  .arenaContainer {
    justify-content: space-between;
    .battleView {
      gap: clamp(2rem, 12vh, 6rem);
    }
  }
}

@media (min-width: 1024px) {
  .battleView {
    gap: clamp(3rem, 15vh, 8rem);
  }
  .arena {
    padding: 6rem 1rem 0 1rem;
  }
}
